%h2 Recommendation test
Please enter in a user ID, and items will be recommended
for the user.
%p
%form(name="input" action="/recom" method="post")
  %input(type="text" name="user")
  %input(type="submit" value="Submit" )
